<div class="row col s12">
    <ul *ngIf="totalData > limit" class="pagination" style="width: fit-content; margin: auto !important">
        <li [ngClass]="{disabled:currentPage === 1}">
          <a (click)="onPaginationClick(currentPage - 1)"><i class="material-icons remove-background">chevron_left</i></a>
        </li>
        <li *ngFor="let page of numbersPage()" [ngClass]="{active: currentPage === page}">
          <a (click)="onPaginationClick(page)" class="remove-background">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:currentPage === totalPages()}">
          <a (click)="onPaginationClick(currentPage + 1)"><i class="material-icons remove-background">chevron_right</i></a>
        </li>
      </ul>
</div>
